// Material Theming
@import '~@angular/material/theming';
@import '../themes/custom-palletes';
// ANGULAR MATERIAL THEME
@include mat-core();
$custom-theme-primary: mat-palette($mat-custom-pink);
$custom-theme-accent: mat-palette($mat-custom-orange, 500);
$custom-theme-warn: mat-palette($mat-custom-pink-accent, 900);
$custom-theme: mat-dark-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);
@include angular-material-theme($custom-theme);