<ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [results]="single" [animations]="useAnimation" [rangeFillOpacity]="rangeFillOpacity" [legend]="showLegend" [legendTitle]="legendTitle | titlecase" [legendPosition]="legendPosition" [xAxis]="showXAxis"
    [yAxis]="showYAxis" [roundDomains]="roundDomains" [showGridLines]="showGridLines" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [gradient]="gradient" [timeline]="timeline" [autoScale]="autoScale">

</ngx-charts-line-chart>