Equation Charts

<!-- Equation Chart  -->
<ngx-charts-line-chart style="position: static; display: inline-block; transform: none;" [view]="view" class="chart-container" [results]="plotData" [animations]="animations" [legend]="false" [legendTitle]="legendTitle" [legendPosition]="legendPosition"
    [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [showXAxisLabel]="false" [showYAxisLabel]="false" [xAxisLabel]="'angle'" [yAxisLabel]="'radius'" [autoScale]="autoScale" [timeline]="timeline" [showGridLines]="showGridLines" [rangeFillOpacity]="rangeFillOpacity"
    [tooltipDisabled]="tooltipDisabled" [trimXAxisTicks]="trimXAxisTicks" [trimYAxisTicks]="trimYAxisTicks" (select)="select($event)">
</ngx-charts-line-chart>
<p></p>
<ngx-charts-polar-chart style="position: static; display: inline-block; transform: none;" [view]="view" class="chart-container" [results]="plotData" [animations]="animations" [legend]="false" [legendTitle]="legendTitle" [legendPosition]="legendPosition"
    [gradient]="gradient" [xAxis]="false" [yAxis]="true" [showXAxisLabel]="false" [showYAxisLabel]="false" [xAxisLabel]="'angle'" [yAxisLabel]="'radius'" [autoScale]="autoScale" [showGridLines]="showGridLines" [rangeFillOpacity]="rangeFillOpacity" [tooltipDisabled]="tooltipDisabled"
    [showSeriesOnHover]="showSeriesOnHover" [trimYAxisTicks]="trimYAxisTicks">
</ngx-charts-polar-chart>
<!-- Equation Chart -->